<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- when using th:replace more than 1 times, write the code with double quotes th:replace="layouts :: header"   -->
<head th:replace="layouts :: header"></head>

<body>
<!-- jika pada element html yg mau di replace div, maka buat div. Pada contoh ini
samplenya berupa nav, maka disini kita bikin nav juga -->
<nav th:replace="layouts :: navbar"></nav>

<div>
	<h4>Current Project</h4>
	<table>
		<thead>
			<tr>
				<th> Project Name </th>
				<th> Project Stage </th>
			</tr>
		</thead>
			<tr th:each="aProject : ${projectsList}">
				<td th:text="${aProject.name}"/>
				<td th:text="${aProject.stage}"/>
			</tr>
		<tbody>
		</tbody>
	</table>
</div>

<div>	
	<h4>Current Employees</h4>
	<table>
		<thead>
			<tr>
				<th> First Name </th>
				<th> Last Name </th>
				<th> Email Address</th>
			</tr>
		</thead>
			<tr th:each="anEmployee : ${employeesList}">
				<td th:text="${anEmployee.firstName}"/>
				<td th:text="${anEmployee.lastName}"/>
				<td th:text="${anEmployee.email}"/>
			</tr>
		<tbody>
		</tbody>
	</table>
</div>

</body>

</html>